/GeneAttack.class
/GeneCareAbsolutelyDirection.class
/GeneCareRelativeDirection.class
/GeneChangeDirectionAbsolutely.class
/GeneChangeDirectionRelative.class
/GeneEatAbsoluteDirection.class
/GeneEatRelativeDirection.class
/GeneFlattenedHorizontally.class
/GeneFullAroud.class
/GeneGiveAbsolutelyDirection.class
/GeneGiveRelativeDirection.class
/GeneIsHealthGrow.class
/GeneIsMineralGrow.class
/GeneIsMultiCell.class
/GeneLookAbsoluteDirection.class
/GeneLookRelativeDirection.class
/GeneMineralToEnergy.class
/GeneMutate.class
/GeneMyHealth.class
/GeneMyLevel.class
/GeneMyMineral.class
/GenePhotosynthesis.class
/GeneStepInAbsolutelyDirection.class
/GeneStepInRelativeDirection.class
/GeneСreateBot.class
/GeneСreateCell.class
